<%- include("header"); %>
<div class="box" id="heading">

      <h1><%= ListTitle %> </h1>
    </div>

    <div class="box " >
        <% for(var i = 0; i < newlyListed.length; i++){ %>
            <div class="item">
                <input type="checkbox" >
                <p><%= newlyListed[i]%></p>
            </div>
        <% } %>
        
        <form action="/" method="post" class="item">
            <input type="text" name="whatTodo" placeholder="Todo Item" autocomplete="off">
            <button type="submit" name="button" value="<%= ListTitle %>">+</button>
        </form>
    
        <!-- <footer style="position: absolute; bottom: 10px;">Made in Gilgit</footer> -->
    </div>

<%- include("footer"); %>

