<%- include("./partials/header"); %> 

<!-- for getting the files in the specific location use ./ or do not use at all and also never use / before a folder -->

<h1>HOME </h1>
<p><%= dummyContent %></p>
<hr>


    <% post.forEach(blogs=>{ %>
            <h1><%= blogs.title %></h1>
            <p><%= (blogs.content).substring(0, 100) + " ..." %> <a href="/post/<%= blogs.title %>">Read More</a></p>
            <hr>
      <%  }) %>



<%- include("partials/footer"); %>